body{
	background-color: #d6d6c2;
	font-size: 16px;
	font-family: Oxygen, sans-serif;
	color: #ffffff;
}

.navbar-brand{
	text-transform: uppercase;
	font-weight: bold;
}

#header-nav{

	background-color: #33ccff !important;

}

.nav-item{
	font-size: 18px;
}

.nav-item .active{
	background-color: white;
}

#na-link{
	color: black;

}

.nav-link:hover{
	background-color: white !important;
	color: black;

}



#navbar-toggler {
	border: 2px solid black;
}

#carousel-top{
	margin-top: 8px;
}

.carousel-item{
	height: 400px;
}


.row{
	margin-top: 10px;
}

.container-tile{
	margin-bottom: 4px;

	float: left;
	height: 400px;

}

.inner-tile{
	height: 100%;
	border: 2px black solid;
	position: relative;
}

.tile-link{
	text-decoration: none;
}

.link-title{
	text-transform: uppercase;
	color: black;
	font-weight: bold;
	border-top: 1.5px solid black;
	width: 100%;
	padding: 4px;
	position: absolute;
	bottom: 0px;
	text-align: center;

}

#high-school{
	background-color: #f29965;
}

#senior-secondary{
	background-color: #74c7f7;
}

#university{
	background-color: #6cf786;
}
.content{
  color: black;
  padding: 80px 20px 80px 20px;
}
#university-title{
color: #f29965;
}
.university-accomplishments{
  color: black;
  border: 2px solid black;
  font-size: 20px;
}

.school-accomplishments{
  color: black;
  border: 2px solid black;
  font-size: 20px;
}

#address >span, #contact >span{
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1.5em;
}


footer{
	margin-top: 16px;
}

#address, #contact, #copyright{
	height: 150px;
	padding-top: 20px;
}


/* Small devices only */
@media(max-width: 768px) {
	.navbar-brand{
		font-size: 2.5vw;
		font-weight: bold;
	}

	#main-img{
		height: 400px;
	}

	.col-sm-12{
		width: 100%;
	}



	#address, #contact, #copyright{
		text-align: center;
		margin-bottom: 8px;
	}
	#divider{
		margin-right: auto;
		margin-left: auto ;
		width: 50%;
	}
}




/* Medium devices only */

@media(min-width: 769px) and (max-width: 991px){
	.col-md-6{
		width: 50%;
	}
	.col-md-12{
		width: 100%;
	}
}
/* Large devices only */

@media(min-width:992px) and (max-width: 1199px){
	.col-lg-4{
		padding: 15px;
		width: 33.33%;
	}
}

/* Main-content book reviews */

#main_content_h1{
	color: #f29965;
	font-weight: bold;
	width: 100%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

#book_review_message{
	width: 100%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	color: #000;
	margin-bottom: 10px;
}

#book_tiles{
	position: relative;
	height: 200px;
	border: 2px solid black;
	margin-bottom: 24px;
}

#book_tiles span{
	position: absolute;
	bottom: 0px;
	width: 100%;
	text-align: center;
	border-top: 2px solid black;
	text-transform: uppercase;


}
